* {
    /*border:1px solid rgb(255,0,0); /*Declaration = property (border): value (1px solid rgb(255,0,0));*/
    font-family: 'Calibri', 'DFKai-SB', 'Courier New', Courier, monospace;
}

h1 {
    background-color: rgb(198, 198, 255);
}

h2 {
    background-color: lightgrey;
}

/*p {
    font-size: 15px;
}

li {
    font-size: 12px;
}*/

.regular-text {
    font-size: 20px;
}

.small-text {
    font-size: 12px;
}

#main-title{
    text-transform: uppercase;
}

.section-container{
    background-color: beige;
}